@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #5b6fde;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0,0,0, .2);
}

.pink-mode {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #de5bca;
    --shadow-color: rgba(0,0,0, .2);

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0.1rem 0.5rem var(--shadow-color);
}

.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
    margin-right: auto;
}

.navigationbar a{
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navigationbar a{
    color: var(--text-color);

}

.header.sticky .navigationbar a.active {
    color: var(--main-color);
}

.navigationbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.header.sticky .navigationbar a.active::before {
    background: var(--main-color);
    opacity: .7;
}

#pinkMode-icon{
    font-size: 2.5rem;
    color: var(--white-color);
    cursor: pointer;
}

.header.sticky #pinkMode-icon {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home{
    display: flex;
    align-items: center;
}

.home .home-content{
    max-width: 44rem;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p{
    font-size: 1.6rem;
}

.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}

.button{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.button:hover{
    background: var(--white-color);
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .picture-container{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;

}

.home .picture-container .picture-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .picture-box .picture{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .picture-box .picture:nth-child(1) i{
    margin-right: 15px;
}

.home .picture-box.picture:nth-child(2),
.home .picture-box.picture:nth-child(3){
    padding-bottom: 20px;
}

.home .picture i{
    font-size: 3.2rem;
}

.home .picture h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .picture-box .circles{
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .picture-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img img {
    position: fixed;
    bottom: 0;
    right: 0;   
    width: 100%;
    height: auto;
    border: 3px solid var(--white-color);
    border-radius: 70%;
    pointer-events: none;
    transform: scale(40%);
}


span {
    color: var(--main-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-img img {
    width: 40vw;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services {
    min-height: auto;
    padding-bottom: 17rem;
}

.services h2 {
    margin-bottom: 5rem;
}
.services .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0.1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.playlists {
    padding-bottom: 10rem;
}

.playlists h2 {
    margin-bottom: 4rem;
}

.playlists .playlists-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.playlists-container .playlists-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem (rgba(0,0,0, .1));
    overflow: hidden;
}

.playlists-box img {
    width: 100%;
    transition: .5s ease;
}

.playlists-box:hover img {
    transform: scale(1.1);
}

.playlists-box .playlist-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 4rem;
    opacity: 0;
    transition: .5s ease;
}

.playlists-box:hover .playlist-layer {
    opacity: 1;
}

.playlist-layer h4 {
    font-size: 3rem;
}

.playlist-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.playlist-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.playlist-layer a i {
    font-size: 2rem;
    color: #333;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .button {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #333;
}

/* break */

@media (max-width: 1270px) {
    html {
        font-size: 55%;
    }

    .home .picture-container {
        height: 85.8rem;
    }

    .home .picture-container .picture-box {
        right: -12rem;
        height: 85.8rem;
    }

    .home .picture-container .overlay {
        right: -9rem;
    }

    .home-img img {
        transform: scale(23%);
    }
}

@media (max-width: 1098px) {
    
    .navigationbar a:nth-child(1),
    .navigationbar a:nth-child(2) {
        color: var(--main-color);
    }

    .navigationbar a.active::before {
        background-color: var(--main-color);
        opacity: .7;
    }
    .home .home-content {
        max-width: 50rem;
    }
    .home .picture-container .picture-box {
        right: -45rem;
    }
    .home .picture-container .overlay {
        right: -39.5rem;
    }
    .home-img img {
        display:none;
    }
}

@media (max-width: 872px) {

    .home .home-content {
        max-width: 50rem;
    }

    .home .picture-container .picture-box {
        right: -50rem;
    }

    .home .picture-container .overlay {
        right: -41.5rem;
    }

    .services,
    .playlists {
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
    
}

@media (max-width: 822px) {
    #menu-icon {
        display: block;
    }

    .navigationbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navigationbar.active {
        display: block;
    }

    #pinkMode-icon {
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navigationbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color)
    }

    .navigationbar a:nth-child(1),
    .navigationbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navigationbar a.active {
        color: var(--main-color);
    }

    .navigationbar a::before {
        display: none;
    }

    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content .social-media a{
        margin: 2.5rem .75rem 3rem;
    }

    .home .picture-container {
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home .picture-container .picture-box {
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .home .picture-box .picture {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .home .picture-box .picture:nth-child(1) {
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .home .picture-box .picture:nth-child(1) i {
        margin-right: 0;
    }

    .home .picture-box .picture:nth-child(2) {
        transform: rotate(0deg) translate(0, -335px);
    }

    .home .picture-box .picture:nth-child(3) {
        transform: rotate(90deg) translate(-115px, -450px);
    }

    .home .picture-box .picture:nth-child(4) {
        transform: rotate(180deg) translate(-220px, -335px);
    }

    .home .picture-box .circles {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .home .picture-container .overlay{
        position: fixed;
        top: 80rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about h2 {
        text-align: center;

    }
    .about-img img {
        width: 70vw;
        margin-top: -2rem;        
    }

    .services h2,
    .playlists h2 {
        margin-bottom: 3rem;
    }

    .playlists .playlists-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #pinkMode-icon {
        right: 6rem;
    }

    .home {
        padding: 0 3% 30rem;
    }

    .home .picture-box .picture:nth-child(1) {
        transform: rotate(-90deg) translate(-110px, -220px);
    }
    .home .picture-box .picture:nth-child(2) {
        transform: rotate(0deg) translate(5px, -335px);
    }
    .home .picture-box .picture:nth-child(3) {
        transform: rotate(90deg) translate(-105px, -440px);
    }
    .home .picture-box .picture:nth-child(4) {
        transform: rotate(180deg) translate(-210px, -335px);
    }
    
    .contact form .input-box input{
        width: 100%;
    }
    
}

@media (max-width:345px){

    .playlists .playlists-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width:296px){



    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}
